FORMAT: 1A
HOST: https://osm.scouts.org.nz/

# Online Scout Manager

I'm documenting the Online Scout Manager API here as I discover it,
you can contribute by forking it on GitHub.

## Authorisation [/users.php?action=authorise]

### Authorise [POST]

Note you need email and password the first time to authorise your application against your account, 
after that you can use the usertoken.

request needs to be urlencoded

+ Parameters

    + token (string, required) - your OSM API token
    + apiid (string, required) - your OSM API ID
    + email (string, required) - your OSM login email address
    + password (string, required) - your OSM login password
    
+ Request (application/x-www-form-urlencoded)
    
    email={email}&
    password={password}&
    token={token}&
    apiid={apiid}

+ Response 200 (application/json)
{
    "secret": "1234567890abcdef",
    "userid": "123"
}

### Authenticating Other Endpoints [POST]
To authenticate _any_ other endpoints you'll need to submit this in the body

+ Parameters

    + token (string, required) - your OSM API token
    + apiid (string, required) - your OSM API ID
    + secret (string, required) - secret from auth call
    + userid (string, required) - userid from auth call
    
+ Request (application/x-www-form-urlencoded)
    
    email={email}&
    password={password}&
    token={token}&
    apiid={apiid}

## Sections [/api.php?action=getSectionConfig]

### Get Sections Config [POST]

+ Response 200 (application/json)

        {
            "123": {
                "numscouts": 999,
                "subscription_level": 3,
                "subscription_expires": "2050-12-31",
                "portal": {
                    "badges": 1,
                    "programme": 1,
                    "events": 1,
                    "details": 1,
                    "emailbolton": 1
                },
                "portalExpires": {
                    "programme": "2050-12-31",
                    "badges": "2050-12-31",
                    "events": "2050-12-31",
                    "details": "2050-12-31",
                    "emailbolton": "2050-12-31",
                    "badgesA": 0,
                    "programmeA": 0,
                    "eventsA": 0,
                    "detailsA": 0,
                    "emailboltonA": 0
                },
                "section_type": "nzadults",
                "sectionType": "nzadults",
                "parentSectionId": "0",
                "hierarchy_lowest_level": "level_1",
                "hierarchy_operating_level": "level_0"
            },
            "124":{}
        }


## Members [/ext/members/contact/]

### Get Member List [POST /ext/members/contact/?action=getListOfMembers&sectionid={}&termid={}&section={}]

+ Response 200 (application/json)

        {
            "identifier": "scoutid",
            "photos": true,
            "items": [
                {
                    "firstname": "John",
                    "lastname": "Doe",
                    "photo_guid": "12345678-1234-4567-5678-1234567890ab",
                    "patrolid": -1,
                    "patrol": " ",
                    "sectionid": 12,
                    "enddate": null,
                    "age": "24 / 4",
                    "patrol_role_level_label": "Crew Leader",
                    "active": true,
                    "scoutid": 1233
                },
                {
                    "firstname": "Jane",
                    "lastname": "Doe",
                    "photo_guid": "12345678-1234-4567-5678-1234567890ab",
                    "patrolid": 0,
                    "patrol": "",
                    "sectionid": 12,
                    "enddate": null,
                    "age": "23 / 7",
                    "patrol_role_level_label": "",
                    "active": true,
                    "scoutid": 1234
                },

### Get Member Information [POST /ext/members/contact/?action=getIndividual&sectionid={}&scoutid={}&termid={}&context=members]]

+ Response 200 (application/json)
    
        {
            "ok": true,
            "read_only": [],
            "data": {
                "scoutid": "12345",
                "firstname": "First",
                "lastname": "Last",
                "photo_guid": "12345678-1234-4567-5678-1234567890ab",
                "email1": "",
                "phone1": "",
                "address": "",
                "address2": "",
                "dob": "1987-08-05",
                "started": "2004-08-31",
                "joining_in_yrs": "2",
                "parents": "",
                "notes": "",
                "medical": "",
                "religion": "",
                "school": "",
                "ethnicity": "",
                "subs": "",
                "custom1": "",
                "created_date": "0000-00-00 00:00:00",
                "patrolid": "0",
                "patrolleader": "0",
                "startedsection": "2015-06-15",
                "enddate": null,
                "age": "20 years and 1 months",
                "meetings": -1,
                "others": [
                    "Another Group: Leaders"
                ]
            }
        }